/* line 1, /home/ubuntu/environment/team-temp/app/assets/stylesheets/navbar.scss */
.usopt {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 12px 0px 12px;
}

/* line 6, /home/ubuntu/environment/team-temp/app/assets/stylesheets/navbar.scss */
.user-bar a {
  color: #f8f8f8;
}

/* line 10, /home/ubuntu/environment/team-temp/app/assets/stylesheets/navbar.scss */
a:hover {
  background-color: transparent;
}

/* line 14, /home/ubuntu/environment/team-temp/app/assets/stylesheets/navbar.scss */
.hoftc {
  color: #f8f8f8;
}
