
body {
  background: #eff0f1;
}

#adqc {
  background: #fff;
  flex: 1 auto;
  vertical-align: baseline;
  display: block;
  text-align: left;
  box-sizing: inherit;
  width: 100%;
  padding: 12px 12px 12px 12px;
  border-radius: 6px;
}