body {
  background: #eff0f1;
}

#mainfrm {
  
}

#adqc {
  background: #fff;
  flex: 1 auto;
  vertical-align: baseline;
  display: block;
  text-align: left;
  box-sizing: inherit;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
}